* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html    {
    min-height: 100vh;
    height: auto;
    background: rgba(250,250,250,1);
    /* background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgb(251, 246, 233) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0 );
}

body {
    /* height: 100vh; */
    font-size: 16px;
    /* font-family: Arial; */
    /* font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif; */
    font-family: "Helvetica-Neue", Helvetica, Arial;
    color: #333;
    /* overflow: scroll; */
}

body {
	/* padding: 20px 0; */
}

input {
    outline: none;
    font-size: 15px;
    padding: 0 15px;
	font-family: inherit;
}

button {
    outline: none;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    height: 45px;
    box-sizing: border-box;
}

header button {
    border: none;
    padding: 5px 10px;
    margin: 0px;
    background: #eee;
    color: #808080;
    cursor: pointer;
    transition: .3s;
		font-family: inherit;
        font-size: 12px;
        letter-spacing: 0.6px;
        border-radius: 100px;
        font-weight: 500;
        margin-right:15px;
        margin-bottom: 15px;
}

header button:hover {
    color: #222;
}

.empty {
		list-style: none;
    height: auto;
		text-align: center;
		font-size: 18px;
    line-height: 1.4;
		font-family: "georgia", serif;
		color: #9c8e6a;
		padding: 80px 0px;
}

.filter.active {
    background: #27ae60;
    color: white;
}

.app {
    padding: 0 0 2em;
    width: 600px;
    margin: auto;
}

#todo {
    height: 50px;
    border: 0;
    width: 100%;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#todo::placeholder	{
	color: rgba(0,0,0,0.3);
}

#todo:focus {
	border: 1px solid rgba(210, 203, 185, 0.5)
}

#todos {
    min-height: 60px;
}

#todos .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    transition: .3s;
    border: 1px solid #eee;
    border-top: 0;
    /* padding: 4px 0; */
    /* box-sizing: content-box; */
    color: #333;
    background-color: #fff;
    cursor: pointer;
    /* letter-spacing: 0.1px; */
}

#todos .item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#todos .item:hover {
    background: #fafafa;
}

#todos .item input {
    border: 0;
    height: 3em;
    width: 100%;
    flex: 1;
    z-index: 10;
    position: relative;
}

#todos .item .delete {
    border: none;
    background: none;
    margin: 0 1em;
    font-size: 16px;
    color: #ccc;
    display: none;
}

#todos .item .delete:hover {
    color: #e74c3c;
}

#todos .item:hover .delete {
    display: block;
}

.btnToggle {
    padding: 0 1em;
		width: 50px;
    height: 50px;
    line-height: 3.7;
}

.btnToggle i {
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.btnToggle.active0 i {
    background: #27ae60;
    border: 2px solid #27ae60;
}

.item-description-wrapper {
    flex: 1;
    padding: 10px 0;
}

.item-description {
    cursor: pointer;
}

.status0 .item-description, 
.status0 .item-description .tag  {
    text-decoration: line-through;
    color: #ccc;
}

#todos li.status0 {}

.info {
    margin: 40px 0;
    color: #333;
}

.date {
    display: block;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 8px;
}
.time {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.bird__1 {
    width: 30px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: -1;
    animation-name: updown;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

@keyframes updown {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px);}
    100% { transform: translateY(0);}
}

@keyframes updown2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}

.bird__2 {
    width: 50px;
    position: fixed;
    bottom: 70px;
    left: 50px;
    z-index: -1;
    animation-name: updown;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

.bird__3 {
    width: 20px;
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: -1;
    animation-name: updown;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

.cloud__1 {
    width: 200px;
    position: fixed;
    bottom: -30px;
    right: -30px;
    z-index: -2;
    animation-name: updown2;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

.cloud__2 {
    width: 150px;
    position: fixed;
    bottom: -10px;
    left: 70px;
    z-index: -2;
    animation-name: updown2;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

.message  {
    position: fixed;
    bottom: 10px;
    left: 30px;
}

.message, .message a {
    font-size: 12px;
    color: #bbb;
}

.message a:hover {
    color: #27ae60;
}

.tag {
    font-weight: 500;
}

.tag--reply,
.tag--send,
.tag--mail,
.tag--post {
    color: #d35400;
}

.tag--call,
.tag--meeting,
.tag--discuss,
.tag--brainstorm {
    color: #16a085;
}

.tag--work {
    color: #34495e;
}

.tag--personal {
    color: #2980b9;
}

.tag--write,
.tag--draft,
.tag--publish {
    color: #8e44ad;
}

.tag--buy,
.tag--book,
.tag--get,
.tag--order {
    color: #e67e22;
}

.tag--design {
    color: #785959;
}

.tag--default {
    color: #A5A5A7;
}

.Help {
    width: 600px;
    margin: auto;
}

.Help__Section {
    text-align: center;
}

.Help__Section h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.Help__Section p, .Features p {
    width: 80%;
    margin: auto;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 30px;
}

.logo {
    width: 40px;
    margin: 40px 0;
}

.ColorCodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.ColorCodes span {
    flex-basis: 20%;
    padding: 15px 0;
    text-align: center;
}

.ColorCodesImage    {
    width: 95%;
    margin: 3px 0;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
    align-self: center;
}

.Features {
    text-align: center;
    margin-bottom: 30px;
}

.Features blockquote {
    padding: 30px 60px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 1.4;
}

.Features ul {
    margin: 0;
    padding: 0;
}

.Features ul li {
    width: 80%;
    margin: auto;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 30px;
    list-style: none;
}

.Break {
    text-align: center;
    padding: 30px 0;
}

.team-logo    {
    width: 100px;
    margin: 60px 0;
}

.artwork {
    width: 300px;
    display: table;
    margin: auto;
}

.buddha {
    width: 200px;
    display: block;
    margin: 0 auto 10px auto;
}